@import '@/styles/colors.scss';

html {
  height: 100%;
}

body {
  background-color: $dark;
  height: 100%;
  display: flex;
  flex-flow: column;
  margin: 0;
  padding: 0;
}

h1, h2, a, p, span, button {
 font-family: Quicksand;
}

a, button {
 cursor: pointer;
 text-decoration: none;
 outline: none;
}

a, p, span {
 font-weight: 400;
}

p, span, button {
 font-size: 17px;
}
